#include <behaviors.dtsi>
#include "bindings.dtsi"
#include "combos.dtsi"
#include "macros.dtsi"

/ {
    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
            bindings = <
                &td_qtab  &kp W     &kp F       &kp P        &kp G          &kp J    &kp L     &kp U     &kp Y     &kp SQT
                &kp A     &home_r   &home_s     &home_t      &kp D          &kp H    &home_n   &home_e   &home_i   &home_o
                &home_z   &kp X     &kp C       &kp V        &kp B          &kp K    &kp M     &td_comma &kp DOT   &td_slesh
                          &lt_num   &algr_bspc                          &lt_nav     &lt_sym
            >;
        };

        num_layer {
            bindings = <
                &kp MPRV  &kp MPLY  &kp MNXT    &none        &kp PSCR       &none    &kp N7    &kp N8    &kp N9    &none
                &kp VOLD  &kp MUTE  &kp VOLU    &none        &mac_select    &s(KP_8) &kp N4    &kp N5    &kp N6    &kp MINUS
                &none     &mac_hom  &mac_create &kp CALC     &lgui_e        &s(KP_6) &kp N1    &kp N2    &kp N3    &kp PLUS
                          &none     &none                              &kp N0     &lt_fn_eq
            >;
        };

        sym_layer {
            bindings = <
                &kp EXCL  &kp UNDER &kp AT      &none        &none          &kp ASTR &kp LBKT  &kp CARET &kp RBKT  &kp GRAVE
                &none     &s(KP_5)  &s(KP_7)     &none        &none          &kp NUBS &kp LPAR  &kp DLLR  &kp RPAR  &none
                &kp DM_REC1 &kp DM_PLY1 &none   &none        &none          &kp PIPE &kp LCBR  &kp HASH  &kp RCBR  &none
                             &none   &kp BSPC                         &none      &none
            >;
        };

        nav_layer {
            bindings = <
                &none     &none     &none       &none        &none          &kp WH_U &none     &kp UP    &none     &none
                &none     &none     &none       &kp DEL      &none          &kp WH_D &kp LEFT  &kp DOWN  &kp RIGHT &none
                &none     &none     &none       &none        &none          &kp WH_L &kp WH_R  &none     &none     &reset
                            &lt_fn    &kp BSPC                        &none      &none
            >;
        };

        fn_layer {
            bindings = <
                &kp TAB   &none     &none       &none        &kp ESC        &none    &kp F7    &kp F8    &kp F9    &kp F10
                &kp DEL   &kp LALT  &none       &none        &none          &none    &kp F4    &kp F5    &kp F6    &kp F11
                &kp CAPS  &none     &none       &none        &kp SLEP       &none    &kp F1    &kp F2    &kp F3    &kp F12
                            &none   &none                              &none      &none
            >;
        };
    };
};